<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products - VS-Store | Online-Shopping Website Design</title>
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script type="module" src="../script/script.js"></script> -->
</head>
<body>
    <div class="product-container">
        <div class="navbar">
            <div class="logo">
                <a href="index.html"><img src="../assets/Vstore_logo.jpg" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./products.html">Products</a></li>
                    <li><a href="./account.html">Account</a></li>
                </ul>
            </nav>
            <a href="cart.html"><img src="../assets/cart.png" width="30px" height="30px"></a>
            <img src="../assets/menu.png" onclick="menutoggle()" class="menu-icon">
        </div>
        <div class="search-container">
            <input type="text" id="search-bar" placeholder="Search...">
            <button id="search-button">Search</button>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>All Products</h2>
        <select>
            <option>Default Sorting</option>
            <option>Sort by price</option>
            <option>Sort by popularity</option>
            <option>Sort by rating</option>
            <option>Sort by sale</option>
        </select>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="small-container">
            <div class="row" id="product-grid">
                <div class="col-4">
                    <a href="product-details.html"><img src="../assets/product-1.jpg"></a>
                    <h4><a href="product-details.html">Red Printed T-Shirt</a></h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$110.00</p>
                </div> 
                <div class="col-4">
                    <img src="../assets/product-2.jpg">
                    <h4>HRX Sports Shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>$175.00</p>
                </div> 
                <div class="col-4">
                    <img src="../assets/product-3.jpg">
                    <h4>HRX Gray Trackpants</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>$125.00</p>
                </div> 
                <div class="col-4">
                    <img src="../assets/product-4.jpg">
                    <h4>Blue Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$115.00</p>
                </div> 
            </div>
            
            <div class="row" id="product-grid">
                <div class="col-4">
                    <img src="../assets/product-5.jpg">
                    <h4>Puma Gray Sports Shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$185.00</p>
                </div> 
                <div class="col-4">
                    <img src="../assets/product-6.jpg">
                    <h4>Black Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>$175.00</p>
                </div> 
                <div class="col-4">
                    <img src="../assets/product-7.jpg">
                    <h4>HRX Set of 3 Socks</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>$65.00</p> 
                </div> 
                <div class="col-4">
                    <img src="../assets/product-8.jpg">
                    <h4>Black Fossil Watch</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$175.00</p>
                </div> 
            </div>
            
            <div class="row" id="product-grid">
                <div class="col-4">
                    <img src="../assets/product-9.jpg">
                    <h4>Black Sportx Watch</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$145.00</p> 
                </div> 
                <div class="col-4">
                    <img src="../assets/product-10.jpg">
                    <h4>Black HRX Shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>$150.00</p>
                </div> 
                <div class="col-4">
                    <img src="../assets/product-11.jpg">
                    <h4>Gray Nike Shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>$155.00</p>
                </div> 
                <div class="col-4">
                    <img src="../assets/product-12.jpg">
                    <h4>HRX Black Trackpants</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$175.00</p>
                </div> 
            </div>
            
            <div class="page-btn">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>&#8594;</span>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and iOS mobile phone.</p>
                    <div class="app-logo">
                        <img src="../assets/play-store.png">
                        <img src="../assets/app-store.png">
                    </div>
                </div>
                <div class="footer-col2">
                    <img src="../assets/Vstore_logo.jpg">
                    <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
                </div>
                <div class="footer-col3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter<li>
                        <li>Instagram</li>
                        <li>YouTube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright"><a href=""></a></p>
        </div>
    </div>

    <!-- JS for toggle menu -->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            } else {
                MenuItems.style.maxHeight = "0px";
            } 
        }
    </script>

<!-- Search-bar for Products -->

<script>
const searchBar = document.getElementById("search-bar");
const searchButton = document.getElementById("search-button");
const productGrid = document.getElementById("product-grid");

searchButton.addEventListener("click", () => {
    const searchTerm = searchBar.value.toLowerCase();
    const products = productGrid.querySelectorAll(".col-4");

    products.forEach(product => {
        const productName = product.querySelector("h4").textContent.toLowerCase();
        if (productName.includes(searchTerm)) {
            product.style.display = "block";
        } else {
            product.style.display = "none";
        }
    });
});
</script>

</body>
</html>
